
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-2xs : 340px;
  --breakpoint-xs : 435px;
  --breakpoint-2sm : 490px;
  --breakpoint-2md : 900px;
  --breakpoint-2lg : 1150px;
  --color-gray-200 : #f9fbfc;
  --color-gray-400 : #dddddd;
  --color-gray-600 : #868891;
  --color-purple-200 : #e0e7ff;
  --color-purple-300 : #c7d3fe;
  --color-purple-500 : #736eca;
  --color-purple-600 : #5046e4;
  --color-purple-700 : #4539c9;
}
